/*ezaugarri generalak ematen ditu denari*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

table {
    /*taulari display flex-a ematen dio elementuak egituratzeko, eta gero altura minimo bat ematen dio taulari
    eta dena erdian justifikatzen du. Behera joan heinean, pantailako atzeko aldea, kolore grisetik beltzera pasako da pixkanaka.*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#514b4f, #151415);
}

.container {
    border: solid 1px rgba(255, 255, 255, 0.2);
}
/*taula barruko elementuak egituratzen ditu*/
table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}
/*taulan dagoen goiko zatiari background color ezberdina eman dio*/
thead {
    background: rgba(205, 195, 202, 0.4);
}
/* taulako tituluei ezaugarriak ematen dizkio*/
th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}
/*taulako kontenidoari ezaugarriak ematen dizkio*/
td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}


h3{
    /*titulua erdian jartzen du, kolorea ematen dio eta elementua egituratzen du*/
   text-align: center;
    top: 0%;
    padding: 10px;
    background-color: #949090;
}
/* bilatzaileari ezagurriak ematen dizkio, goiko zatitik 30 px-era egongo da bilatzailea, 10px-eko paddinga izango du eta kolore grisa izango du*/
#search{
    margin-top: 30px;
    padding: 10px;
    background-color: #949090;
}
/*produktuak gehitzeko backgroun-color-a grisa ziango da*/
.gehitu{
    background-color: #949090;
}
